.exec-btn {
    padding: 7px 40px;
    background-color: rgb(67, 67, 248);
    color: #fff;
    border: none;
}

.output {
    border: 1px solid grey;
    height: 89vh;
    margin-top: 10px;
    color: #fff;
    padding: 20px;
}